/SkinnerhCheckers/nbproject/private/
/SkinnerhCheckers/build/
/SkinnerhCheckers/dist/
/JavaApplication4/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/dist/
/JavaFXApplication2/build/
*.log

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

*.class

*.jar

*.properties

*.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

SkinnerhNotificationsRevised.zip

*.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

*.class

*.class

*.class

*.class

*.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/built-jar.properties

SkinnerhNotificationsRevised/NotifcationExamples/build/classes/notifcationexamples/NotificationsUIController$1.class
