/SkinnerhCheckers/nbproject/private/
/SkinnerhCheckers/build/
/SkinnerhCheckers/dist/
/JavaApplication4/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/dist/
/JavaFXApplication2/build/